@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Nunito+Sans:wght@300&family=Outfit:wght@300;400;600&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Nunito+Sans:wght@300&family=Outfit:wght@300;400;600&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --font1:'Lexend Deca', sans-serif;
    --font2:'Big Shoulders Display',cursive;
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white : hsla(0, 0%, 100%, 0.75);
    --Very-light-gray : hsl(0, 0%, 95%);
    
}

body{
    background-color: var(--Very-light-gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: var(--font1);
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
    border-radius: 15px;
    overflow: hidden;
}
.box{
    padding: 40px;
}
.box1{
    background-color: var(--Bright-orange);
}

.box2{
    background-color: var(--Dark-cyan);
}

.box3{
    background-color: var(--Very-dark-cyan);
}

.box h2{
    font-family: var(--font2);
    text-transform:uppercase;
    font-size: 30px;
    font-weight: 700;
    color: var(--Transparent-white);
}

.box p{
    color: var(--Transparent-white);
    line-height: 1.6;
}

.box a{
    text-decoration: none;
    background-color: var(--Transparent-white);
    padding: 15px 12px;
    border-radius: 25px;
    display: inline-block;
    margin-top: 55px;
    border: 2px var(--Transparent-white);
    transition: all .3s ease-in;
}

.box1 a{
    color: var(--Bright-orange);
}

.box2 a{
    color: var(--Dark-cyan);
}

.box3 a{
    color: var(--Very-dark-cyan);
}

.box a:hover{
    color: var(--Transparent-white);
}

@media screen and (max-width:768px){
    .card{
        grid-template-columns: 1fr;
    }
}