@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Redressed&family=Roboto:ital,wght@1,900&display=swap');
:root{
    --main-font:'Outfit', sans-serif;
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White :hsl(0, 0%, 100%);
    /* --
    --
    -- */
} 


*{
     margin: 0;
     padding: 0;
 }

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 360px;
    margin: 0 auto;
}
.card{
    padding: 18px;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 15px;
}
.card img{
    width: 100%;
    border-radius: 15px;
}

.title{
    margin-top: 2rem;
    color: var(--White);
}

div .para{
    margin-top: 1.2rem;
    color:var(--Soft-blue) ;
    line-height: 160%;
}
.nft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .nft {
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.value{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
} */

/* .value {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.8rem;
}

.price h3{
    color: var(--Cyan);
    font-size: 1rem;
    display: flex;

}

.remainder{
    color: var(--Soft-blue);
} */